@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Open Sans;
}


/* For Desktop Screens */
.container {
    width: 1100px;
    margin: 0 auto; /* Center the container horizontally */
  }
  
  /* For Tablet Screens */
  @media only screen and (max-width: 1224px) {
    .container {
      width: 89%; /* Adjust the percentage value as needed */
      margin: 0 auto; /* Center the container horizontally */
    }
  }

  @media only screen and (max-width: 800px){
   .container{
    width: 90%;
   }
  }


  
  @media only screen and (max-width: 600px){
    .container{
     width: 95%;
    }
   }

   .links{
    display: flex;
    gap: 30px;
   }

   header{
    width: 100%;

   }

   header a {
    font-family: Open Sans;
font-size: 16px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color:  #3734A9;
text-decoration: none;
transition: 0.5s;
border-bottom: 2px solid transparent;
padding: 4px;
   }
   header a:hover{
    border-bottom: 2px solid #3734A9;
   }
   header .container{
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

   }

   header .logo img{
    width: 100%;
    object-fit: contain;
    height: 40px;
   }

   header{
    padding: 10px;
    position: fixed;
    height: fit-content;
    width: 100%;
   }

   .getstarted{
    font-family: Open Sans;
    font-family: Jost;
font-size: 17px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
    text-align: center;
    color:  #fff;
    text-decoration: none;
    border-radius:5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.5s;
    border: 1px solid #3734A9;
    background-color: #3734A9;
    cursor: pointer;
}
.getstarted:hover{
    background: rgba(255, 255, 255, 0.4);
    color: #3734A9;
}


.fashionhero{
    height: 110vh;
    background-image: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%) ;
    width: 100%;
background-size: cover;
background-repeat: no-repeat;
background-size: cover;

}
.fashionhero .container{
    height: 100%;
}

.heroflex{
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 40px;
}

.fashionone{
    width: 100%;
} 

.fashiontwo{
    width: 80%;
}

.fashionone{
    display: flex;
    flex-direction: column;
    gap: 6px;
}



.fashionheader{
    background: rgba(255, 255, 255, 0.4);
border-radius: 20px;
width: fit-content;
padding: 25px;
display: flex;
gap: 20px;
}
.fashiontitle span{
    color: #3734A9;
    font-family: Open Sans;
    font-size: 60px;
    font-weight: 800;
    line-height: 75px;
    letter-spacing: -0.03em;
    text-align: left;
    

}

.forall{


font-family: Open Sans;
font-size: 17px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #5B5B5B;
}
.shopcollection{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.hvb{
    height: 58px;
width: 255px;
text-align: center;
border-radius: 10px;
background: #3734A9;
border: 1px solid #3734A9;

transition: 0.5s;
color: white;
display: flex;
align-items: center;
justify-content: center;


font-family: Open Sans;
font-size: 17px;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.02em;
text-align: center;

}

.fashiontwo{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-image: url('img/Vector\ 4.png'), url('img/Vector\ 332.png');
    background-position: bottom;
    background-repeat: no-repeat;
    
    height: 100%;
}

.fashiontwo img{
    width: 100%;
    height: 100%;
}

.imageboxone{

    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.guidebox{
    position: absolute;
    top: 78%;
}
.imageboxtwo{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageboxone img{
height: 

490.74px;
object-fit: cover;
width: 100%;
border-radius: 30px;


}

.imageboxtwo img{
height: 

333.65px
;
    object-fit: cover;
    width: 100%;
    border-radius: 30px;
    
    
    }
.hvb:hover{
    background: #0e0c55;
    cursor: pointer;
}
.forall span{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.flexcont{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.02em;
text-align: left;
color: #757095;
}


.checks{
    width: 30px;
    background: #3734A9;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.checks ion-icon {
    font-size: 20px;
    font-weight: bold;
    font-weight: 900;
}

.fashiontitle{
    margin-top: 5px;
    font-family: Open Sans;
font-size: 60px;
font-weight: 300;
line-height: 75px;
letter-spacing: -0.03em;
text-align: left;
color: #000;
}

.guidebox{
    
background: rgba(255, 255, 255, 0.44);
backdrop-filter: blur(5.5px);
/* Note: backdrop-filter has minimal browser support */
padding: 13px;
border-radius: 8px;
display: flex;
gap: 10px;
}

.guidebox .imgbox{
    width: fit-content;
    height: 80px;
    object-fit: contain;
}

.imgbox img{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.navbar-scrolled{
    z-index: 9999999999999999999999999999999999;
    background: rgba(255, 255, 255, 0.44);
    backdrop-filter: blur(5.5px); 
}

::-webkit-scrollbar {
    width: var(--scrollbar-width, 2px); /* Adjust the width as needed */
  }
  
  /* Set the appearance of the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color, #888); /* Adjust the color as needed */
  }
  
  /* Set the appearance of the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color, #f1f1f1); /* Adjust the color as needed */
  }

  .brandsbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    background: #EBFAFF;
    margin-top: -13px;
    margin-bottom: 60px;
  }

  .brandboxtext span{
    font-family: Open Sans;
font-size: 36px;
font-weight: 800;
line-height: 49px;
letter-spacing: 0em;
text-align: center;
color: #3734A9;

  }

  .brandboxtext{
    color: #000000;
    font-family: Open Sans;
font-size: 22px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

  }

  .marqcont{
    display: flex;
    gap: 40px;
    margin-top: 20px;
  }

  .marqcont img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


  .featuredstore{
   padding-top: 90px;
  }

.featuredstore h1 {

    text-align: center;
    width: 100%;
    font-family: Manrope;
font-size: 48px;
font-weight: 700;
line-height: 65px;
letter-spacing: -0.03em;
text-align: center;
margin-bottom: 50px;

} 


.ftitle{
    font-family: manrope;
font-size: 24px;
font-weight: 900;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: 
#3734A9;
}
.featuredheader{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.featuredheader select{
     background-color: white;
     color: black;
     padding: 10px;
     border-radius: 6px;
     border: 1px solid#3734A9;
     color: #0e0c55;
     font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;


}
.featureflex{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.featurefilter{
    width: 25%;
    position: sticky;
    padding: 20px;
    top: 1%;
    height: fit-content;
   
}

.featureproducts{
  
    width: 100%;
    padding: 7px;
}

.productgrid{
    margin-top: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: 1fr;
}

.filtercontent{
    margin-top: 10px;
    
    padding: 10px;
    width: 100%;

}

.filtertitle{
    font-family: Open Sans;
font-size: 17px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #00171F;
}

.productcard{
    box-shadow: 0px 4px 28px -2px #00000014;
background-color: #FDFDFD;
padding: 10px;
display: flex;
flex-direction: column;
gap: 1px;
height: 100%;
border-radius: 8px;
transition: 0.5s;
}

.productcard:hover{
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.imageblock{
    width: 100%;
    height: 254px;
    padding: 5px;
    border-radius: 5px;
}
.imageblock img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.titleblock{
    padding: 5px;
    font-family: Open Sans;
font-size: 15px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #00171F;
}

.specs{
    padding: 5px;
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
}

.cart{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.cartbox{
    margin-top: -20px;
    width: 43px;
    height: 43px;
    border-radius: 13px;
    font-size: 24px;
border: 1px solid #3734A9;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3734A9;
transition: 0.5s;
cursor: pointer;
}
.featuredstore{
    width: 100%;
}
.cartbox:hover{
    background-color: white;
    color: black;
}
.spectvalue{
    width: 70px;
}
.spectitle{
    font-family: Open Sans;
font-size: 13px;
font-style: italic;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #667479;
}

.specval{
    font-family: Open Sans;
font-size: 14px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #667479;
}

@media screen and (max-width:1110px) {
    .heroflex{
        flex-direction: column;
    }
    .imageboxone img{
        height: 100%;
    }
    .imageboxtwo img{
        height: 100%;
    }
    .fashionhero{
        height: 100%;
    }
    .fashionone, .fashiontwo{
        align-items: center;
        width: 100%;
    }

    .fashionone{
        margin-top: 90px;
        margin-bottom: 70px;
        text-align: center;
    }

    .fashiontitle{
        text-align: center;

            font-size: 40px;
            font-weight: 300;
            line-height: 50px;
    
    }
    .fashiontitle span{
        margin-top: 10px;
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
    }
}
.allfeatureslider{
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .featureflex{
        flex-direction: column;
    }
    .allfeatureslider{
     margin-top: 20px;
        width: 100%;
    }

    .guidebox{
        display: none;
    }

    .filtercontent{
        display: grid;
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: 1fr;

    }
    .featurefilter{
        position: relative;
        width: 100%;
    }
    .fashiontwo{
        margin-bottom: 30px;
    }
    
}
.togglebuton{
    display: none;
}
.logo{
    display: flex;
}

.togbtn{
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3734A9;
    color: white;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
}
@media screen and (max-width:700px) {
    .brandsbox{
        margin-top: 20px;
        width: 97%;
    }
    .imageblock{
        height: 310px;
    }

    .links{
   display: none;
    }
    .cartbuttons{
        display: none;
    }

    .togglebuton{
        display: block;
    }
    .imageblock img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

@media screen and (max-width:600px) {
    .fashionheader{
        flex-direction: column;
        width: fit-content;
    }
    .guidebox {
        position: absolute;
        top: 106%;
    }
}

.custom-checkbox-label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-checkbox-label::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    margin: 3px;
    border-radius: 2px;
    background-color: #0e0c55;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .custom-checkbox:checked + .custom-checkbox-label::after {
    opacity: 1;
  }
  
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  .checkflex{
    display: flex;
    width: 100%;
    margin-top: 3px;
    gap: 10px;
    align-items: center;
 
  }

  .checktitle{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #00171F;
    margin-top: -4px;
  }

  .minmax{
    display: flex;
    margin-top: 4px;
    
  }

  .min input{
    padding: 4px;
    width: 100%;
    border:none ;
    outline: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .max input{
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 4px;
  }

  .pageblock{
    margin-top: 9px;
    justify-content: space-between;
    display: flex;
    align-self: flex-end;
    margin-left: auto;
    width: 100%;
  }

  .pagination{
    display: flex;
  
    gap: 3px;
    margin-top: 30px;


  }

  .pagination button{
    font-family: Open Sans;
font-size: 15px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
border: none;
background-color: transparent;
padding: 6px;
display: flex;
align-items: center;
justify-content: center;
height: 34px;
width: 34px;


border-radius: 6px;
}

  .pagination .active{
    color: white;
background-color: #0e0c55;
border-radius: 6px;



  }


  .banner{
    margin-top: 90px;
    width: 100%;
    height: 100%;

    background: #3734A9;
    background-image: url('img/Vector\ 4.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
display: flex;
gap: 20px;
justify-content: center;
border-radius: 20px;
margin-bottom: 70px;
  }

  .sideone{
width: 100%;
overflow: hidden;
background-image: url('img/cover.png');
background-size: contain;
background-position: bottom;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
  }

  .sideimgbo{
    padding: 10px;
  }
  .sideone img{
    Width:100%;
    Height:288.84px;
    object-fit: contain;
  }

  .sidetwo{
width: 100%;
background-image: url('img/cvr.png');
background-position: right;
background-size: contain;
background-repeat: no-repeat;
  }

  .sidetwocontent{
    width: 80%;
    margin-left: auto;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sidetwohead{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Open Sans;
font-size: 35px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;
text-align: center;
color: 
#3734A9;
  }

  .sidetwohead div{
    font-family: Open Sans;
font-size: 36px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: left;

  }

  .sidetwobody{
    width: 80%;
    padding: 20px;
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;

  }

.whatwedo{
    margin-top: 90px;
    padding: 20px;
    width: 100%;
    background-image: url('img/Rectangle\ 162.png'), url('img/Rectangle\ 163.png');
    margin-bottom: 40px;
    background-position: bottom left , top right;
    background-repeat: no-repeat;
    background-size: contain;

}

.whatwedobox{
    width: 95%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 114px 0px #00000017;

}

.slidehead{
    color: #000;
font-size: 18px;
font-family: Open Sans;
font-weight: 600;
letter-spacing: 0.25px;
margin-bottom: 5px;
}

#downloadBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Make sure it's above other elements */
}








.slidinggrid{
    display: grid;
   grid-gap: 50px; 
   display: grid;
   align-items: center;
   grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
   grid-gap: 20px;
   grid-auto-rows: 1fr;
   margin-top: 30px;
   margin-bottom: 30px;
}

.slideicon{
    width: 17%;
}

footer{
    padding-bottom: 90px;
}

.productlink{
    border-radius: 10px;
background: #F8F8FF;
display: flex;
gap: 10px;
padding: 20px;
align-items: center;
width: fit-content;
justify-content: center;
margin-bottom: -30px;
}

.productlink span{
    display: flex;
    align-items: center;
width: fit-content;
justify-content: center;
    color: #3734A9;
    color: #3734A9;
font-size: 16px;
font-family: Open Sans;
font-weight: 700;
line-height: 20px;
}
.canceled{
    color: #BABABA !important;
}
.fashionaddress{
    color: var(--color-300, #7F848D);
font-size: 17px;
font-family: Open Sans;
line-height: 32px;
}

.copyright{
    color: var(--color-300, #7F848D);
font-size: 17px;
font-family: Open Sans;
line-height: 32px;

}
.line{
    margin: auto;
    width: 88%;
    height: 1px;
    background: #D2D2D2;
    margin-block: 7px;
}
.fashionfooter{
    display: flex;
    width: 100%;

}
.flexone{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.flextwo{
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 7px;
    color: var(--color-300, #7F848D);
font-size: 16px;
font-family: Open Sans;
}

.flexthree{
    color: var(--color-300, #7F848D);
font-size: 16px;
font-family: Open Sans;
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 7px;
}


.fashionfooter{
    display: flex;
    width: 100%;
    gap: 30px;
}
.roundmg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    background: #FFF3E8;
    border-radius: 10px;
}
.se{
    background-color: #F1F0FF;
}
.xa{
    background-color: #E2F3FF;
}

.gr{
    background-color: #EDFFE7;
}
.roundmg img{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    object-fit: contain;
}
.slidetext{
    width: 100%;
}
.slide{
    display: flex;
    gap: 9px;
    align-items: center;
}
.slidebod{
    color: #797979;
font-size: 15px;
font-family: Open Sans;
line-height: 127.9%;
letter-spacing: 0.16px;
}
  @media screen and (max-width:1216px) {
    .sidetwocontent{
        width: 90%;
    }

    .banner{
        flex-direction: column;
        background-image: none;
        padding: 10px;
    }

    .sideone{
        background-image: none;
    }
    .sidetwo{
        background-image: none;
    }
    .sidetwohead div{
        text-align: center;
    }
    .sidetwocontent{
        width: 100%;
        color: white;
    }
    .sidetwohead{
        color: white;
    }
    .sidetwobtn button{
        background-color: white;
        color: #0e0c55;
        padding: 23px;

    }
    .sidetwobtn  ion-icon{
        background-color: white;
        color: #0e0c55;
        padding: 23px;

    }
    .sidetwobody{
        width: 100%;
    }
  }
  .featuretoggle{
    display: none;
  }
  .allfeatureslider{
    display: block;
    animation: slideDown 0.5s ease-out;    
}
.showz{
    display: none;
    animation: slideDown 0.5s ease-out;   
}
  @media screen and (max-width:1000px) {
    .slidinggrid{
    grid-gap:40px;
    }
    .featuredstore h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 50px
    }

    .featuretoggle{
        display: block;
    }

    .allfeatureslider{
        display: none;
        animation: slideDown 0.3s ease-out;    
    }
.showz{
    display: block;
    animation: slideDown 0.7s ease-out;   
}
    @keyframes slideDown {
        from {
          transform: translateY(-30%);
        }
        to {
          transform: translateY(0);
        }
      }
    .featureproducts{
        margin-top: 40px;
    }
    
  }


  
  @media screen and (max-width:600px) {
    .slidinggrid{
    grid-gap:40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));    
}
.banner{
    margin-bottom: 20px;
}
.whatwedobox{
    background-image: none;
    margin-top: 5px;
    width: 100%;
    padding: 20px;
}


.slide{
    flex-direction: column;
}
.slidetext {
    text-align: center;
    width: 100%;
}
.productgrid{
    grid-gap: 50px;
}
header .logo img {
    width: 100%;
    object-fit: contain;
    height: 34px;
}

header .getstarted {
    font-family: Open Sans;
    font-family: Jost;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 5px;
    transition: 0.5s;
    border: 1px solid #3734A9;
    background-color: #3734A9;
    cursor: pointer;
}
    
  }



  .swiper {
    width: 100%;
    height: 100%;
 height: 100%;
  }
.textimonybox{
    border-radius: 12px;
background: #F5F6F8;
width: 350px;

height: 100%;
flex-shrink: 0;
padding: 20px;
display: flex;
flex-direction: column;
gap: 3px;
}
.titlename{
    color: #000;
font-size: 16px;
font-family: Open Sans;
font-weight: 600;
line-height: 24px;

}

.textimonialperson{
    display: flex;
    gap: 10px;
    align-items: center;
}
.img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.img{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
border-radius: 50%;
background: #D9D9D9;
}

.designation{
    color: #97989F;
font-size: 14px;
font-family: Open Sans;
line-height: 24px;
}
.testimonialtext{
    color: #000;
font-size: 16px;
font-family: Open Sans;
line-height: 177.9%;
letter-spacing: 0.16px;
}
  .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 340px;
    height: 100%;
    display: flex;
  }
  .blogcard {
    background-color: white;
  }


  .bottomsection{
    width: 100%;
    background-image: url('img/Frame\ 89.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  html{
    user-select: none;
  }

  body, *{
    user-select: none;
  }

  .accordionbody{
    width: 100%;
  }

  .whatelse{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accordionflex{
    display: flex;
    gap: 20px;
    width: 100%;
  }
  @import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&display=swap');
.context{
    color: #000;
    font-size: 22px;
    text-align: center;
    font-family: Manrope;
    font-weight: 800;
    line-height: 22px;
}

.conbod{
    color: #000;
text-align: center;
font-size: 16px;
font-family: Open Sans;
line-height: 177.9%;
letter-spacing: 0.16px;
text-align: center;
}

.conbtn{
    border-radius: 10px;
background: var(--pallet-4-primary, #3734A9);
padding: 13px;
color: white;
    cursor: pointer;
}
.whatelsebox{
    width: 90%;
    margin: auto;
    border-radius: 10px;
border: 1px solid #3734A9;
background: #FFF;
padding: 25px;
display: flex;
flex-direction: column;
gap: 14px;
align-items: center;
justify-content: center;
}
  .accordion {
    width: 100%;
    max-width: 100%;
  margin: auto;  
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 17px;
  }
  
  .accordion-item {
    background-color: #fff;
    color: #111;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.09);
  }
  
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 4.0rem;
    color: #000;
    font-size: 17px;
  
    font-weight: 600;
    line-height: 20px;
  
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .accordion-item-header::after {
    content: "\002B";
    font-size: 1.4rem;
    position: absolute;
    right: 1rem;
  }
  
  .accordion-item-header.active::after {
    content: "\2212";
  }
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
    color: #000;
  font-size: 16px;
  
  line-height: 177.9%;
  letter-spacing: 0.16px;
  }
  .newsletter{
    border-radius: 20px;
background: #3734A9;
width: 80%;
margin: auto;
padding: 34px;
display: flex;
flex-direction: column;
gap: 20px;
  }
.neswheader{
    text-align: center;
    color: var(--neutral-color-00, #FDFDFD);
font-size: 23px;
font-family: Open Sans;
font-weight: 700;
line-height: 33px;
text-transform: capitalize;
margin-bottom: 3px;
}
  .newsletterblock{
    margin-top: 80px;
    padding-top: 80px;
  }

  .newsinput{
    border-radius: 10px;
background: #FFF;
width: 80%;
margin: auto;
padding: 23px;
display: flex;
gap: 2px;
  }

  .newsinput input{
    color: #3734A9;
font-size: 14px;
font-family: Open Sans;
line-height: 20px;
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 4px;
border: 1px solid #3734A9;
background: #FFF;
  }
  .newsinput button{
    width: 28%;
    outline: none;
    border: 1px solid #3734A9;
    padding: 7px;
    color: #FFF;
text-align: center;
font-size: 14px;
font-family: Open Sans;
font-weight: 700;
line-height: 30px;
letter-spacing: -0.36px;
    border-radius: 4px;
background: var(--pallet-4-primary, #3734A9);
color: white;
  }

  .productdetailimg{
    width: 100%;
    padding: 5px;
  }

  .productdetaildiv{
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .pimagebox{
    width: 50%;
    margin: auto;
display: flex;
flex-direction: column;
    border-radius: 12px;
        padding: 10px;
background: var(--neutral-color-00, #FDFDFD);
box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  }
.publictext .titleblock{
    color: var(--neutral-color-100, #00171F);
font-size: 25px;
font-family: manrope;
font-weight: 700;
line-height: 30px;
margin-top: 7px;
}
.zen{
    width: 100%;
    background-image: url('img/Fill\ 1.png'), url('img/Fill\ 1.png');
    background-position: bottom right  ;
    background-size: 5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.price{
    color: var(--neutral-color-100, #00171F);
font-size: 18px;
font-family: manrope;
font-weight: 900;
line-height: 20px;
text-decoration-line: strikethrough;
}
  .leftarrow, .rightarrow{
    border-radius: 12px;
    width: 72px;
height: 72px;
flex-shrink: 0;
font-family: manrope;
font-weight: 900;
background: #EBEBFF;
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
color: #3734A9;
font-size: 20px;
cursor: pointer;
transition: 0.3s;
  }
  .leftarrow:hover, .rightarrow:hover{
background-color: #34495e;
color: white;
  }

  
  .pimagebox .imgbx{
    width: 100%;
 max-height: 500px;
 display: flex;
 align-items: center;
 justify-content: center;
  height: 100%;
 
    padding: 4px;
  }
  .pimagebox .imgbx img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media screen and (max-width:1000px) {
    .whatelsebox {
        width: 100%;
    }
  }

  @media screen and (max-width:900px) {
    .whatelsebox {
        width: 100%;
    }
    .fashionfooter{
        flex-direction: column;
    }

    .fashionfooter >div{
        width: 100%;
    }
    .newsletter{
        width: 100%;
    }
    .newsinput{
        width: 100%;
    }
    .accordionflex{
        flex-direction: column;
        gap: 60px;
        align-items: center;
    }
  }

  .newsletterblock{
    margin-bottom: 20px;
  }
  @media screen and (max-width:572px) {
    .whatelsebox {
        width: 100%;
    }
    .newsinput{
        flex-direction: column;
    }
    .newsinput button{
        width: 100%;
    }
    .newsletterblock {
        margin-top: 28px;
        padding-top: 40px;
    }
    .whatwedo {
        margin-top: 90px;
        padding: 7px;
    }
    .accordionflex{
        flex-direction: column;
        gap: 60px;
        align-items: center;
    }
    .whatelse {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

  }

  
  .xzoom-container {
    position: relative;
    display: inline-block;
  }
  
  /* xZoom Main Image */
  .xzoom {
    display: block;
    max-width: 100%;
  }
  
  /* xZoom Gallery */
  .xzoom-gallery {
    margin-top: 10px;
  }
  
  .xzoom-gallery a {
    display: inline-block;
    margin-right: 5px;
  }
  
  .xzoom-gallery img {
    max-width: 100px;
    height: auto;
  }